*,
*::after,
*::before {
  box-sizing: border-box;
}

html,
body,
h1,
h2,
h3,
p,
table,
td,
ul {
  margin: 0;
  padding: 0;
}

ul, li {
  list-style: none;
}

a {
  text-decoration: none;
}

body {
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  color: #fff;
  background: #131313;
}

.container {
  width: 1146px;
  margin: 0 auto;
}

/* HEADER */

.header {
  display: flex;
  height: 60px;
  border-bottom: 1px solid #272727;
}

.header__inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.inner__logo-usercard {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: 294px;
}

.logo-usercard__separator {
  height: 26px;
  width: 1px;
  background: #272727;
}

.nav {
  width: 100%;
  max-width: 748px;
}

.nav__list {
  display: flex;
  justify-content: space-between;
}

.nav__link {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 13px;
  color: #fff;
}

.nav__link_active {
  color:#272727;
  text-decoration-line: line-through;
}

/* ----------- */


/* MAIN */

.main {
  background: url(../img/background.png) no-repeat center;
}

.main__title {
  margin: 90px 0 30px;
}

.title {
  font-weight: 900;
  font-size: 30px;
}

.table {
  width: 100%;
  border-spacing: 0px;
  border-collapse: collapse;
}


.th {
  text-align: left;
  text-transform: uppercase;
  font-size: 13px;
  color: #727272;
  height: 23px;
}
.th:first-child {
  padding-left: 20px;
}

.tbody__tr {
  height: 20px;
  border: 1px solid #232323;
  background: #000;
}

.td {
  height: 53px;
  padding-left: 8px;
}

.td:first-child {
 padding-left: 25px;
}

.main__page-switch {
  margin: 26px 0 211px;
}

.page-switch {
  display: flex;
  align-items: center;
  justify-content: space-around;
}


.page-switch__inner {
  display: flex;
  align-items: center;
}

.page-selector {
  display: flex;
  align-items: center;
  text-align: center;
  margin: 0 36px;
}

.arrow__link_active {
  cursor: default;
}

.page-selector__link {
  display: inline-block;
  text-align: center;
  color: #fff;
  padding: 7px 0;
  width: 44px;
}

.page-selector__link_active {
  color:#4f4f4f;
  cursor: default;
}

/* --------- */

/* Footer */

.footer {
  text-align: center;
}